<header class="container-content">
    <a href="/"><img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/></a>
    <nav class="corporate closed jsFlyoutWrapper jsFlyoutHoverToggle">
        <img class="burger jsFlyoutTouchToggle jsFlyoutHoverToggle" src="/_assets/images/burger-menu.svg"
             alt="Menü Icon"/>
        <ul class="flyout jsFlyoutHoverToggle">
            {% for corporateLink in corporateFlyout %}
                <li{{ corporateLink.isCurrent ? ' class="current"' }}><a href="{{ corporateLink.href }}">{{ corporateLink.caption }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="stories closed jsFlyoutWrapper jsFlyoutHoverToggle">
        <div class="breadcrumb jsFlyoutTouchToggle jsFlyoutHoverToggle">{{ storyNav.currentTitle }}</div>
        <ul class="flyout jsFlyoutHoverToggle">
            <li class="breadcrumb current jsFlyoutTouchToggle">{{ storyNav.currentTitle }}</li>
            {% for story in storyNav.stories %}
                <li><a href="{{ story.href }}">{{ story.href|trim('/') }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
