{% extends "pageBase.twig" %}
{% block title %}mit-marion-de{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <form action="{{ form.action }}" method="{{ form.method }}">
        <div class="{{ preName.identifier }}">
            <label for="{{ preName.identifier }}">dein Vorname</label>
            <input id="{{ preName.identifier }}" name="{{ preName.identifier }}" type="text" placeholder="{{ preName.placeholder }}" value="{{ preName.customerInput }}" />
            <ul class="errorList">
                <li>ein error</li>
            </ul>
        </div>
        <div class="{{ surName.identifier }}">
            <label for="{{ surName.identifier }}">dein Nachname</label>
            <input id="{{ surName.identifier }}" name="{{ surName.identifier }}" type="text" placeholder="{{ surName.placeholder }}" value="{{ surName.customerInput }}" />
            <ul class="errorList">
                <li>ein error</li>
            </ul>
        </div>
        <div class="{{ eMail.identifier }}">
            <label for="{{ eMail.identifier }}">deine E-Mail</label>
            <input id="{{ eMail.identifier }}" name="{{ eMail.identifier }}" type="email" placeholder="{{ eMail.placeholder }}-Mail" value="{{ eMail.customerInput }}" />
            <ul class="errorList">
                <li>ein error</li>
            </ul>
        </div>
        <div class="{{ message.identifier }}">
            <label for="{{ message.identifier }}">Meine Nachricht an dich, Marion</label>
            <textarea name="{{ message.identifier }}" placeholder="{{ message.placeholder }}">{{ customerMessage.customerInput }}</textarea>
            <ul class="errorList">
                <li>ein error</li>
            </ul>
        </div>
        <div class="{{ dataPrivacy.identifier }}">
            <label for="{{ dataPrivacy.identifier }}">
                <input id="{{ dataPrivacy.identifier }}" name="{{ dataPrivacy.identifier }}" type="checkbox" placeholder="{{ dataPrivacy.placeholder }}" />
                Ich habe die Datenschutzerklärung gelesen und akzeptiere sie.
            </label>
            <ul class="errorList">
                <li>ein error</li>
            </ul>
        </div>
        <div class="captcha">captcha</div>
        <input type="submit" value="abschicken" />
    </form>
{#    <pre>#}
{#        {{ dump(contactFormElements) }}#}
{#    </pre>#}
{% endblock %}
