{% extends "pageBase.twig" %}
{% block title %}mit-marion-de{% endblock %}
{% block additionalStyleSheets %}
    <link rel="stylesheet" href="/_assets/css/contactForm.css"/>
{% endblock %}
{% block content %}
    {{ include('include/header.incl.twig') }}
    <article>
        <section class="contactIntro">
            <p>Du hättest gerne mehr Infos zu meinen Kursen? Du möchtest dich anmelden oder hast einfach nur eine Frage?</p>
            <p>Hier bist du richtig. Ich werde mich so schnell wie möglich bei dir melden.</p>
        </section>
        <form class="contactForm" action="{{ form.action }}" method="{{ form.method }}">
            <div class="{{ contactFormElements.preName.identifier }}">
                <label for="{{ contactFormElements.preName.identifier }}">{{ contactFormElements.preName.placeholder }}:</label>
                <input id="{{ contactFormElements.preName.identifier }}"
                       name="{{ contactFormElements.preName.identifier }}" type="text"
                       placeholder="{{ contactFormElements.preName.placeholder }}"
                       value="{{ contactFormElements.preName.customerInput }}"/>
                <ul class="errorList">
                    <li>ein error</li>
                </ul>
            </div>
            <div class="{{ contactFormElements.surName.identifier }}">
                <label for="{{ contactFormElements.surName.identifier }}">{{ contactFormElements.surName.placeholder }}:</label>
                <input id="{{ contactFormElements.surName.identifier }}"
                       name="{{ contactFormElements.surName.identifier }}" type="text"
                       placeholder="{{ contactFormElements.surName.placeholder }}"
                       value="{{ contactFormElements.surName.customerInput }}"/>
                <ul class="errorList">
                    <li>ein error</li>
                </ul>
            </div>
            <div class="{{ contactFormElements.eMail.identifier }}">
                <label for="{{ contactFormElements.eMail.identifier }}">{{ contactFormElements.eMail.placeholder }}:</label>
                <input id="{{ contactFormElements.eMail.identifier }}" name="{{ contactFormElements.eMail.identifier }}"
                       type="email" placeholder="{{ contactFormElements.eMail.placeholder }}"
                       value="{{ contactFormElements.eMail.customerInput }}"/>
                <ul class="errorList">
                    <li>ein error</li>
                </ul>
            </div>
            <div class="{{ contactFormElements.customerMessage.identifier }}">
                <label for="{{ contactFormElements.customerMessage.identifier }}">
                    {{ contactFormElements.customerMessage.placeholder }}:
                </label>
                <textarea name="{{ contactFormElements.customerMessage.identifier }}"
                          placeholder="Hallo Marion,">{{ contactFormElements.customerMessage.customerInput }}</textarea>
                <ul class="errorList">
                    <li>ein error</li>
                </ul>
            </div>
            <div class="{{ contactFormElements.dataPrivacy.identifier }}">
                <label for="{{ contactFormElements.dataPrivacy.identifier }}">
                    <input id="{{ contactFormElements.dataPrivacy.identifier }}"
                           name="{{ contactFormElements.dataPrivacy.identifier }}" type="checkbox"
                           placeholder="{{ contactFormElements.dataPrivacy.placeholder }}"/>
                    {{ contactFormElements.dataPrivacy.placeholder }}
                </label>
                <ul class="errorList">
                    <li>ein error</li>
                </ul>
            </div>
            <div class="captcha">captcha</div>
            <input class="submit button" type="submit" value="abschicken"/>
        </form>
    </article>
    {#    <pre>#}
    {#        {{ dump() }}#}
    {#        {{ dump(contactFormElements) }}#}
    {#    </pre>#}
{% endblock %}
