<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ htmlHead.title }} - mit Marion</title>
    <link rel="stylesheet" href="/_assets/css/main.css"/>
    <script async="async" src='/_assets/js/main.js'></script>
</head>
<body>
<div class="content">
    <header class="container-content">
        <a href="/"><img class="logo" src="/_assets/images/logo.svg" alt="Logo mit-marion.de"/></a>
        <nav class="corporate closed jsFlyoutWrapper jsFlyoutHoverToggle">
            <img class="burger jsFlyoutTouchToggle jsFlyoutHoverToggle" src="/_assets/images/burger-menu.svg"
                 alt="Menü Icon"/>
            <ul class="flyout jsFlyoutHoverToggle">
                <li><a href="#bar">meine Qualifikationen</a></li>
                <li class="current"><a href="#bar">meine Qualifikationen</a></li>
                <li><a href="#bar">über mich</a></li>
                <li><a href="#bar">bar</a></li>
                <li><a href="#bar">bar und noch viel viel mehr und noch viel viel mehr</a></li>
                <li><a href="#bar">bar</a></li>
                <li><a href="#bar">bar</a></li>
            </ul>
        </nav>
        <nav class="stories closed jsFlyoutWrapper jsFlyoutHoverToggle">
            <div class="breadcrumb jsFlyoutTouchToggle jsFlyoutHoverToggle">{{ storyNav.currentTitle }}</div>
            <ul class="flyout jsFlyoutHoverToggle">
                <li class="breadcrumb current jsFlyoutTouchToggle">{{ storyNav.currentTitle }}</li>
                {% for story in storyNav.stories %}
                    <li><a href="{{ story.href }}">{{ story.caption }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <article class="container-content">
        <section class="member">
            <blockquote class="mainquote"
                        style="background-image: url({{ member.mainQuote.backgroundImage.url }}); background-position: {{ member.mainQuote.backgroundImage.position }};">
                <span>"{{ member.mainQuote.text }}"</span>
            </blockquote>
            <blockquote class="subquote">"{{ member.subQuote.text }}"</blockquote>
        </section>
        <section class="marion">
            <img class="photo floatLeft" src="/_assets/images/marion.jpg" alt="Trainerin Marion"/>
            <blockquote class="mainquote">
                "{{ marion.quoteText }}"
            </blockquote>
            {% if marion.advantages|length > 0 %}
                <ul class="advantages">
                    {% for fact in marion.advantages %}
                        <li>{{ fact }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p class="closingText">{{ marion.closingText }}</p>
        </section>
        <a class="button" href="#">{{ callToAction.caption }}</a>
    </article>
    <nav class="zapper">
        <a class="zap previous" href="{{zapper.previous.href}}">{{zapper.previous.caption}}</a>
        <a class="zap next" href="{{zapper.next.href}}">{{zapper.next.caption}}</a>
    </nav>
</div>
</body>
</html>
